<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="cn.sixlab">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape"/>
    <bean id="js" class="cn.sixlab.sixrecords.base.directive.JsDirective" />
    <bean id="css" class="cn.sixlab.sixrecords.base.directive.CssDirective" />
    <bean id="head" class="cn.sixlab.sixrecords.base.directive.HeadDirective"/>
    <bean id="body" class="cn.sixlab.sixrecords.base.directive.BodyDirective"/>

    <!-- Freemarker -->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="freemarkerSettings" ref="freemarkerConfiguration"/>
        <property name="templateLoaderPath" value="/WEB-INF/view/" />
        <property name="defaultEncoding" value="UTF-8" />
        <property name="freemarkerVariables">
            <map>
                <entry key="xml_escape" value-ref="fmXmlEscape" />
                <entry key="js" value-ref="js" />
                <entry key="css" value-ref="css" />
                <entry key="head" value-ref="head"/>
                <entry key="body" value-ref="body"/>
            </map>
        </property>
    </bean>

    <bean id="freemarkerConfiguration" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:config/freemarker.properties"/>
    </bean>

</beans>