.column{
    width: 25px;
    height: 25px;
    background-color: #666;
    border: 1px solid #09F;
    float: left;
}

.row{
    clear: both;
}

.black{
    background-color: #000000;
}

.white{
    background-color: #FFFFFF;
}