doctype html


html
  head
      block head
          title= title
          link(rel='stylesheet', href='/css/style.css')
      script(src='/js/common/seajs/')
  body
      block top
          #top test top
      block content
          #content test content
      block footer
          #footer test footer